
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
}

.nav-links {
    display: flex;
    gap: 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-links a.active,
.nav-links a:hover {
    background-color: #575757;
}

.theme-toggle-wrapper {
    margin-right: 10px;
}

.logo img {
    width: 40px;
}

/* Hamburger Menu Styles */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 60px;
        left: 20px;
        background-color: #333;
        padding: 10px;
        border-radius: 8px;
    }

    .navbar {
        position: relative;
    }

    .hamburger {
        display: flex;
    }

    .nav-links.show {
        display: flex;
    }
}
